@import url("/assets/scss/reset/reset.css");
body {
  background-color: #000d12;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.btn-download {
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20rem;
  border: 0.15rem solid transparent;
}
.btn-download:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.gradient-text {
  background: linear-gradient(90deg, #64ceee, #75c8ff, #5d88ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  max-width: 1400px;
}

.navbar {
  padding: 0.5rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
  background-color: #323036;
  border-radius: 0.6rem;
  z-index: 9;
}
.navbar-nav .navlink {
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  border-radius: 0.6rem;
  font-weight: 400;
  color: #a3a3a3;
  transition: all 0.1s linear;
}
.navbar-nav .navlink:hover .dropdown {
  display: block;
}
.navbar-nav .navlink .dropdown {
  position: absolute;
  top: 100%;
  display: none;
  z-index: 9;
  background-color: #fff;
  border-radius: 0.2rem;
  overflow: hidden;
}
.navbar-nav .navlink .dropdown .droplink {
  padding: 1rem;
  color: #000;
}
.navbar-nav .navlink .dropdown .droplink:hover {
  background-color: #64ceee;
  color: #fff;
}
.navbar-nav .navlink:hover {
  color: #fff;
}
.navbar-nav .navlink.active {
  background-color: #64ceee;
  color: #fff;
  font-weight: 600;
}

.hero__ct {
  height: 100dvh;
  position: relative;
  z-index: 1;
}
.hero__ct::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.hero__ct::before {
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__ct::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(transparent 0%, #000 100%);
  z-index: -1;
}
.hero__ct--caption {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 100%;
  color: #fff;
}
.hero__ct--caption .title {
  font-size: max(3rem, 7vw);
  text-transform: uppercase;
}
.hero__ct--caption .text {
  text-transform: uppercase;
  font-size: max(1.5rem, 2.5vw);
}

.about__ct {
  background-color: #000;
  position: relative;
  z-index: 1;
}
.about__ct::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.about__ct::before {
  background-image: linear-gradient(#000 80%, #000d12 100%);
}
.about__ct .caption .title {
  padding: 1rem 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 2rem;
  font-size: max(2rem, 3vw);
}
.about__ct .caption .title::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.about__ct .caption .title::before {
  background-color: #64ceee;
  width: 100px;
  height: 5px;
}
.about__ct .cards .card {
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
  padding: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  aspect-ratio: 4/3;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
}
.about__ct .cards .card::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.about__ct .cards .card:nth-of-type(2)::before, .about__ct .cards .card:nth-of-type(3)::before {
  background-image: linear-gradient(transparent 0%, #64ceee 150%);
}
.about__ct .cards .card:nth-of-type(1), .about__ct .cards .card:nth-of-type(4) {
  background-image: linear-gradient(transparent 0%, #222 150%);
}

.features__ct .parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  gap: 2rem;
}
.features__ct .parent .card {
  position: relative;
  z-index: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(0, 142, 174, 0.238) 0px 5px 15px;
  gap: 2rem;
}
.features__ct .parent .card::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.features__ct .parent .card .title {
  text-transform: uppercase;
  font-size: max(2rem, 3vw);
}
.features__ct .parent .card .text {
  font-size: 0.8rem;
}
.features__ct .parent .div1::before {
  background-image: url("/assets/img/features/headphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.7;
}
.features__ct .parent .div2::before {
  background-image: url("/assets/img/features/audio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.5;
}
.features__ct .parent .div3::before {
  background-image: url("/assets/img/features/cart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.5;
}

.interface__ct .wrapper {
  width: 100%;
}
.interface__ct .wrapper .title {
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 2rem;
}
.interface__ct .wrapper .title::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.interface__ct .wrapper .title::before {
  background-color: #64ceee;
  width: 100px;
  height: 5px;
}
.interface__ct .wrapper .caption .check-ico {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.interface__ct .wrapper .caption .check-ico i {
  font-size: 2rem;
  color: #64ceee;
}

.donate-ct {
  position: relative;
  z-index: 1;
}
.donate-ct::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.donate-ct::before {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, #000 50%, transparent 50%);
}
.donate-ct .container {
  padding: 2rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background-color: #e1e7f0;
  border-radius: 1rem;
  overflow: hidden;
}
.donate-ct .container::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.donate-ct .container::before {
  background: #64ceee;
  background: rgb(255, 0, 0);
  background: radial-gradient(circle, #64ceee -50%, transparent 35%, transparent 100%);
}
.donate-ct .container .title {
  font-size: max(2rem, 4vw);
  color: #000;
}
.donate-ct .container .btn-download {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.donate-ct .container .btn-download:hover {
  background-color: #64ceee;
  color: #fff;
  border-color: #64ceee;
}

.download__ct {
  display: grid;
  place-items: center;
  background-color: #000;
}
.download__ct .title {
  font-size: max(2rem, 4vw);
  text-transform: uppercase;
  text-align: unset;
}
.download__ct .sub__title {
  font-size: max(1.5rem, 2vw);
}
.download__ct .list__ct .list__link {
  color: #64ceee;
}

@media (min-width: 769px) {
  .navbar {
    padding: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    background-color: #323036;
    border-radius: 0.6rem;
    z-index: 9;
  }
  .navbar-nav .navlink {
    cursor: pointer;
    padding: 0.8rem 1rem;
    color: #fff;
    border-radius: 0.6rem;
    font-weight: 400;
    color: #a3a3a3;
    transition: all 0.1s linear;
  }
  .navbar-nav .navlink:hover {
    color: #fff;
  }
  .navbar-nav .navlink.active {
    background-color: #64ceee;
    color: #fff;
    font-weight: 600;
  }
}
@media (min-width: 769px) {
  .interface__ct .wrapper {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .pdef {
    padding: 4rem 0rem;
  }
  .about__ct .caption .text {
    max-width: 992px;
  }
  .features__ct .parent {
    display: grid;
    grid-template-columns: 8fr 12fr;
    grid-template-rows: 400px 300px;
    gap: 4rem;
  }
  .features__ct .parent .card {
    position: relative;
    z-index: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 142, 174, 0.238) 0px 5px 15px;
  }
  .features__ct .parent .card::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .features__ct .parent .card .title {
    text-transform: uppercase;
    font-size: 2rem;
  }
  .features__ct .parent .card .text {
    font-size: 0.8rem;
  }
  .features__ct .parent .div1 {
    grid-row: span 2/span 2;
  }
  .features__ct .parent .div1::before {
    background-image: url("/assets/img/features/headphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.7;
  }
  .features__ct .parent .div2::before {
    background-image: url("/assets/img/features/audio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.5;
  }
  .features__ct .parent .div3 {
    grid-column-start: 2;
  }
  .features__ct .parent .div3::before {
    background-image: url("/assets/img/features/cart.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.5;
  }
  .download__ct .title {
    text-align: center;
  }
  .interface__ct .caption .title {
    writing-mode: unset;
    /* Texto de cima para baixo, da direita para a esquerda */
    text-orientation: unset;
    font-size: max(2rem, 3vw);
  }
  .interface__ct .responsive-picture img {
    height: 60svh;
  }
}/*# sourceMappingURL=style.css.map */